.gradle
build/

# Source code
src/main/java/com
src/main/java/mcp
src/main/java/net
src/main/resources/assets/minecraft
src/main/resources/assets/realms
src/main/resources/data

#Run files
runclient

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

#IDE files
.idea
*.iml
run/

out/
